@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Tac One';
  src: local('Tac One'), url(/fonts/TacOne-Regular.ttf) format('truetype');
}
