@import '../utils/fonts.scss';

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--main-font-regular);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;

  padding-right: 15px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex-grow: 1;

  background-color: #50c750;
}

.section {
  padding: var(--padding-section);
}

.container {
  margin: 0 auto;
  padding: var(--padding-container);
}

/* ========== Typography =========*/
.main__title {
  font-family: var(--main-font-bold);
  font-size: var(--main-title-size);
}

.secondary__title {
  font-family: var(--main-font-italic);
  font-size: var(--secondary-title-size);
}

.main__paragraph {
  font-size: var(--main-paragraph-size);
}
