<header class="header container">
  <p class="header__logo">HEADER</p>
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li class="header__nav--item">
        <a href="../../index.html" class="header__nav--link">Home</a>
      </li>
      <li class="header__nav--item">
        <a href="../../page-2.html" class="header__nav--link">Page 2</a>
      </li>
      <li class="header__nav--item">
        <a href="../../page-2.html" class="header__nav--link">Page 3</a>
      </li>
    </ul>
  </nav>
</header>
